.trip-container {
    background-color: #fff; /* White background for the modal */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    padding: 5px 20px; /* Padding inside the modal */
    max-width: 400px; /* Maximum width of the modal */
    margin: 20px auto; /* Center the modal */
  }

  .trip-edit-container {
    display: flex;
    justify-content: end;
    position: relative;
  }

  .trip-edit-dropdown-button {
    font-size: 10px;
  }

  .trip-edit-dropdown {
    cursor: pointer;
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute; /* Position it below the button */
    top: 18px;
    background-color: white; /* Background color */
    border: 1px solid #ccc; /* Border */
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Shadow */
    z-index: 2;
  }

  .trip-edit-dropdown-option {
    font-size: 12px;
    padding: 3px;
  }

  .trip-edit-dropdown-option:hover {
    background-color: #f0f0f0;
  }

  .trip-title {
    text-align: center; /* Center the title */
    color: #333; /* Dark text color */
    margin-top: 0px;
  }
    
  .trip-start-end-container {
    display: grid;
  }

  .trip-label {
    margin-bottom: 8px; /* Space below labels */
    font-weight: bold; /* Bold labels */
    color: #555; /* Darker color for labels */
  }

  .trip-span {
    display: flex;
    margin-bottom: 10px; /* Space below labels */
    font-weight: bold; /* Bold labels */
    color: #555; /* Darker color for labels */
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-color: #ccc;
    justify-content: space-between;
  }

  .trip-span-content {
    width: 60%;
  }

  .trip-vehicle-span {
    display: flex;
    margin-bottom: 10px; /* Space below labels */
    font-weight: bold; /* Bold labels */
    color: #555; /* Darker color for labels */
    padding-bottom: 5px;
    border-bottom-style: solid;
    border-color: #ccc;
    justify-content: space-between;
    max-width: 400px;
  }

  .trip-span-vehicle { 
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }

  .trip-label-content {
    margin-right: 10px;
  }

  .trip-text {
    color: black;
    font-size: 14px;
  }

  .error-message {
    color: red; /* Red color for error messages */
    font-size: 14px; /* Font size for error messages */
    margin: 3px 0; /* Margin below error messages */
  }
  
  /* Button Styles */
  .detour-button {
    background-color: blue; /* Blue background for the button */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 15px; /* Padding for the button */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size for button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin: 10px 10px;
    width: 100%;
  }
    
  .detour-button:hover {
    background-color: darkblue; 
  }
  
  .detour-button:disabled {
    background-color: lightblue; 
  }

  .detour-title {
    text-align: center; /* Center the title */
    color: #333; /* Dark text color */
    margin: 10px 0px;
    border-top-style: solid;
    border-color: #ccc;
    padding-top: 10px;
  }

  .detour-container {
    width: 100%;
    display: grid;
  }

  .detour-item-container {
    padding: 5px 0px;
    margin-bottom: 5px;
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
    display: flex;
  }

  .detour-options-container {
    width: 100%;
    display: flex;
    margin-top: 10px;
  }

  .detour-name {
    width: 80%;
    font-size: 14px;
    padding: 3px;
    margin-left: 5px;
  }

  .detour-button-delete {
    font-weight: bold;
  }

  .detour-button-delete:hover {
    cursor: pointer;
  }

  .detour-buttons-container {
    width: 100%;
    display: flex;
  }

  .detour-input-span {
    display:flex;
    width: 50%;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 10px;
  }

  .detour-label {
    font-size: 14px;
  }
  
  .detour-time-input {
    text-align: right;
    width: 30%;
    margin-left: 5px;
  }

  .detour-type-select {
    width: 65%;
    margin-left: 5px;
  }
  
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}