.detour-options-modal {
    background-color: #fff; /* White background for the modal */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    padding: 20px; /* Padding inside the modal */
    min-width: 300px;
    max-width: 350px; /* Maximum width of the modal */
    margin: -10px auto; /* Center the modal */
  }
    
  .detour-options-modal-title {
    text-align: center; /* Center the title */
    color: #333; /* Dark text color */
    margin-top: 0px;
  }

  .detour-options-modal-container {
    /* min-height: 100px; */
    margin-bottom: 15px; /* Space below input fields */
    border-top: 1px solid #ccc; /* Light border */
    border-radius: 2px; /* Rounded corners */
    font-size: 16px; /* Font size for inputs */
    width: 100%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 400px;
  }

  .detour-options-modal-options {
    width: 100%;
    display: grid;
    padding: 5px 10px;
    border-bottom: 1px solid #ccc; /* Light border */
  }

  .detour-options-modal-options:hover {
    background-color: #f0f0f0;
    cursor: pointer;
  }

  .detour-options-modal-name {
    margin-bottom: 2px;
  }

  .detour-options-modal-details {
    display: flex;
  }

  .detour-options-modal-detail {
    width: 50%;
  }