.new-trip-container {
    background-color: #fff; /* White background for the modal */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Shadow for depth */
    padding: 5px 20px; /* Padding inside the modal */
    max-width: 400px; /* Maximum width of the modal */
    margin: 20px auto; /* Center the modal */
  }
    
  .new-trip-title {
    text-align: center; /* Center the title */
    color: #333; /* Dark text color */
  }
    
  .new-trip-form {
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Stack elements vertically */
  }
    
  .new-trip-label {
    margin-bottom: 8px; /* Space below labels */
    font-weight: bold; /* Bold labels */
    color: #555; /* Lighter color for labels */
  }
    
  .new-trip-input-container {
    padding: 10px; /* Padding inside input fields */
    margin-bottom: 15px; /* Space below input fields */
    border: 1px solid #ccc; /* Light border */
    border-radius: 4px; /* Rounded corners */
    font-size: 16px; /* Font size for inputs */
  }

  .new-trip-autocomplete input {
    width: 98%;
    padding: 2px;
    margin-bottom: 3px
  }

  .new-trip-defaults {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  /* .new-trip-defaults button {
    margin: auto;
  } */
  
  .new-trip-text {
    color: black;
    font-size: 13px;
  }
  .error-message {
    color: red; /* Red color for error messages */
    font-size: 14px; /* Font size for error messages */
    margin: 3px 0; /* Margin below error messages */
  }
  
  /* Button Styles */
  .new-trip-button {
    background-color: blue; /* Blue background for the button */
    color: white; /* White text color */
    border: none; /* Remove border */
    padding: 10px 15px; /* Padding for the button */
    border-radius: 4px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    font-size: 16px; /* Font size for button */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    margin: 10px 0px;
  }
    
  .new-trip-button:hover {
    background-color: darkblue; /* Darker blue on hover */
  }
  
  .new-trip-button:disabled {
    background-color: lightblue; /* Lighter blue on disable */
  }